{% extends '__base__.html' %}
{% block title %}关于本站{% endblock %}
{% block content %}
    <div class="widewrapper main">
        <div class="container about">
            <h1>ummm各位好呀，小站博主是<span class="about-bold">冰白</span></h1>
            <p>小站开通于2019年03月20日</p>
            <p>如果对于建设小站有任何建议，欢迎随时信息轰炸！</p>
            <div class="about-button">
                <a class="btn btn-xlarge btn-clean-one" href="/contact">向我提建议</a>
            </div>
            <hr>
        </div>
    </div>
{% endblock %}