<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block meta %}<!-- block meta -->{% endblock %}
    <title>{% block title %} ? {% endblock %} - Icewhite blog</title>
    <link rel="stylesheet" href="../static/css/uikit-rtl.css">
    <link rel="stylesheet" href="../static/css/uikit.css">
    <script src="../static/js/uikit-icons.js"></script>
    <script src="../static/js/uikit.js"></script>
    {% block beforehead %}<!-- before head -->{% endblock %}
</head>
<body>

</body>
</html>