<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <meta content="no-cache">-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Serif:400,400italic' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href="../static/css/style.css" id="theme-styles">
    <!--[if lt IE 9]>
    <script src="../static/js/vendor/google/html5-3.6-respond-1.1.0.min.js"></script>
    <![endif]-->
    <title>{% block title %} 冰白 {% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/crypto-js/3.1.9-1/hmac-sha256.js"></script>
    <script src="https://cdn.bootcss.com/crypto-js/3.1.9-1/core.min.js"></script>
    <script src="https://cdn.bootcss.com/crypto-js/3.1.9-1/sha256.js"></script>
    <script src="https://cdn.bootcss.com/crypto-js/3.1.9-1/hmac.js"></script>
    <script>
        function login() {
            var email = $('#email').val().trim().toLowerCase()
            var passwd = $('#passwd').val().trim()

            axios.post('/ss', {
                email: email
            }).then(function (response) {
                var saltb = atob(response.data)
                var hashed = passwd
                for (i = 0; i < 10; i++) {
                    hashed = CryptoJS.HmacSHA256(saltb, hashed)
                }
                hashed = saltb + hashed
                axios.post('/authenticate', {
                    email: email,
                    passwd: btoa(hashed)
                }).then(response => window.location.reload(true))
            })
        }

        function signout() {
            axios.post('/signout', {}).then(response => {})
            var exp = new Date();
            exp.setTime(exp.getTime() + 30*24*60*60*1000);
            document.cookie = "deleted=-1;expires=" + exp.toGMTString();
            window.location.reload(true)
        }

        function validateEmail(email) {
            var re = /^[a-z0-9\.\-\_]+@[a-z0-9\-\_]+(\.[a-z0-9\.-\_]+){1,4}$/
            return re.test(email.toLowerCase())
        }

        function registe() {
            var email = $('#reemail').val().trim().toLowerCase()
            var name = $('#rename').val().trim()
            var password1 = $('#password1').val().trim()
            var password2 = $('#password2').val().trim()
            if (!name) {
                alert('用户名不能为空')
            }
            if (!validateEmail(email)) {
                alert('请输入正确的Email地址')
            }
            if (password1 !== password2) {
                alert('两次输入的口令不一致')
            }
            if (password1.length < 6) {
                alert('口令长度至少为6个字符')
            }
            axios.post('/ss', {
                email: email
            }).then(function (response) {
                var saltb = atob(response.data)
                var hashed = password1
                for (i = 0; i < 10; i++) {
                    hashed = CryptoJS.HmacSHA256(saltb, hashed)
                }
                hashed = saltb + hashed
                axios.post('/registe', {
                    email: email,
                    name: name,
                    passwd: btoa(hashed)
                }).then(response => alert(response.data))
            })
        }

        function search() {
            var keyword = $('#keyword').val()
            axios.post('/search', {
                keyword: keyword
            }).then(response => document.write(response.data))
        }
    </script>
</head>
<body>
<header>
    <div class="widewrapper masthead">
        <div class="container">
            <a href="/" id="logo">
                <img src="../static/img/logo.png" alt="clean Blog">
            </a>

            <div id="mobile-nav-toggle" class="pull-right">
                <a href="#" data-toggle="collapse" data-target=".clean-nav .navbar-collapse">
                    <i class="fa fa-bars"></i>
                </a>
            </div>

            <nav class="pull-right clean-nav">
                <div class="collapse navbar-collapse">
                    <ul class="nav nav-pills navbar-nav">
                        <li>
                            <a href="/" style="border: 0px">主页</a>
                        </li>
                        <li>
                            <a href="/about" style="border: 0px">关于</a>
                        </li>
                        <li>
                            <a href="/contact" style="border: 0px">联系我</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
    </div>

    <div class="widewrapper subheader">
        <div class="container">
            <div class="clean-breadcrumb" style="margin-top: 0.6em;margin-bottom: 0.4em;margin-left: 0.8em">
                <a href="/user">
                    <div class="headImg"></div>
                </a>
            </div>
            <style>
                .headImg {
                    border-radius: 30px;
                    width: 60px;
                    height: 60px;
                    background: url("../static/images{{ __user__.image }}") no-repeat center;
                    background-size: 60px;
                }

                #info a:hover {
                    color: red;
                }
            </style>
            <div id="info" class="clean-breadcrumb" style="padding-top: 0.5em;">
                {% if __user__ %}
                <a href="/user">&nbsp;&nbsp;欢迎回来，{{ __user__.name }}</a>&nbsp;&nbsp;/
                <a href="" onclick="signout()">&nbsp;&nbsp;退出登录</a>
                {% else %}
                <a href="" data-toggle="modal" data-target="#login">&nbsp;&nbsp;登录</a>&nbsp;&nbsp;/
                <a href="" data-toggle="modal" data-target="#register">&nbsp;&nbsp;注册</a>
                {% endif %}
            </div>
            <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <div class="col-md-8 col-md-offset-2 clean-superblock" id="sub">
                            <h2>注册</h2>
                            <div id="vmregister" class="contact-form">
                                <input type="text" id="rename" placeholder="昵称/姓名" class="form-control input-lg">
                                <input type="email" id="reemail" placeholder="电子邮箱" class="form-control input-lg">
                                <input type="password" id="password1" placeholder="输入登录密码"
                                       class="form-control input-lg">
                                <input type="password" id="password2" placeholder="确认登录密码"
                                       class="form-control input-lg">
                                <div class="buttons clearfix">
                                    <button onclick="registe()" class="btn btn-xlarge btn-clean-one">提交</button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <div class="col-md-8 col-md-offset-2 clean-superblock" id="log">
                            <h2>登录</h2>
                            <div id="vmlogin" class="contact-form">
                                <!--<input type="text" v-model="name" placeholder="昵称/姓名" class="form-control input-lg">-->
                                <input type="email" id="email" placeholder="电子邮箱" class="form-control input-lg">
                                <input type="password" id="passwd" placeholder="输入登录密码" class="form-control input-lg">
                                <div class="buttons clearfix">
                                    <button onclick="login()" class="btn btn-xlarge btn-clean-one">登录</button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
            <div class="clean-searchbox">
                <form accept-charset="utf-8">
                    <input class="searchfield" id="keyword" type="text" placeholder="输入关键字...">
                    <button class="searchbutton" onclick="search()">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</header>
{% block content %}
{% endblock %}
<footer>
    <div class="widewrapper footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-widget">
                    <h3><i class="fa fa-user"></i>关于</h3>

                    <p>对的事情无非是：</p>
                    <p>分享适时的旋律。</p>
                    <p>从一点星火中看到它的清澈，自己的灵魂再飘忽不定也能恍然安静。</p>
                    <p>以及不卑而归属。</p>
                </div>

                <div class="col-md-4 footer-widget">
                    <h3><i class="fa fa-pencil"></i>最新发布</h3>
                    <ul class="clean-list">
                        {% for new in news %}
                        <li><a href="/article/{{ new.id }}">{{ new.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-md-4 footer-widget">
                    <h3><i class="fa fa-envelope"></i>联系我</h3>

                    <p>如果有任何建议</p>
                    <p>欢迎随时轰炸作者</p>
                    <div class="footer-widget-icon">
                        <i class="fa fa-qq"></i><i class="fa fa-wechat"></i><i class="fa fa-github-alt"></i></i><i
                            class="fa fa-git"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="widewrapper copyright">
        Copyright &copy; 2019 . Ice White
    </div>
</footer>
</body>
</html>