{% extends '__base__.html' %}
{% block title %}冰白的小站{% endblock %}
{% block content %}
    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                <div class="col-md-8 blog-main">
                    {% for row in rows %}
                    <div class="row">
                        {% for article in row %}
                        <div class="col-md-6 col-sm-6">
                            <article class=" blog-teaser">
                                <header>
                                    <img src="/img{{ article.img }}" alt="">
                                    <h3><a href="/article/{{ article.id }}">{{ article.name }}</a></h3>
                                    <span class="meta">{{ article.created_at|datetime }}, {{ article.user_name }}</span>
                                    <hr>
                                </header>
                            </article>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                <aside class="col-md-4 blog-aside">

                    <div class="aside-widget">
                        <header>
                            <h3>本站特色</h3>
                        </header>
                        <div class="body">
                            <ul class="clean-list">
                                <li><a href="">当前板块未开通...</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="aside-widget">
                        <header>
                            <h3>相关推荐</h3>
                        </header>
                        <div class="body">
                            <ul class="clean-list">
                                <li><a href="">当前板块未开通...</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="aside-widget">
                        <header>
                            <h3>标签</h3>
                        </header>
                        <div class="body clearfix">
                            <ul class="tags">
                                <li><a href="#">HTML5</a></li>
                                <li><a href="#">CSS3</a></li>
                                <li><a href="#">COMPONENTS</a></li>
                                <li><a href="#">TEMPLATE</a></li>
                                <li><a href="#">PLUGIN</a></li>
                                <li><a href="#">BOOTSTRAP</a></li>
                                <li><a href="#">TUTORIAL</a></li>
                                <li><a href="#">UI/UX</a></li>
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
{% endblock %}