<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/layui.css">
    <script src="../static/layui.js"></script>
    <script src="../static/jquery-3.3.1.min.js"></script>
    <script src="../static/iconfont.js"></script>
    <!--<link rel="stylesheet" href="../static/css/style.css">-->
    <title>Test users - Icewhite python webpp</title>
    <style>
        .icon{
            width: 1.5em;
            height: 1.5em;
            fill: currentColor;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <!--<canvas id="canvas"></canvas>-->
    <!--<script type="text/javascript" src="../static/canvas-nest.js"></script>-->
    <!--<script src="../static/three.min.js"></script>-->
    <!--<script src="../static/index.js"></script>-->
    <ul class="layui-nav layui-header layui-anim layui-anim-fadein" lay-filter="" style="position: fixed;width: 100%;top: 0">
        <li class="layui-nav-item"><a href="">项目1<span class="layui-badge">9</span></a></li>
        <li class="layui-nav-item layui-this"><a href="">项目2<span class="layui-badge-dot"></span></a></li>
        <li class="layui-nav-item"><a href="">项目3</a></li>
        <li class="layui-nav-item layui-layout-right" style="margin-right: 1%">
            <a href=""><img src="../static/images/mh.jpg" class="layui-nav-img">我</a>
            <dl class="layui-nav-child">
                <dd><a href="">修改信息</a></dd>
                <dd><a href="">安全管理</a></dd>
                <dd><a href="">注销</a></dd>
            </dl>
        </li>
    </ul>
    <div class="layui-row layui-container layui-col-xs10 layui-col-xs-offset1 layui-col-md7 layui-col-md-offset1 layui-col-sm7
    layui-col-sm-offset1 layui-col-lg7 layui-col-lg-offset1" style="margin-top: 6.5em">
        <ul class="layui-timeline">
            <li class="layui-timeline-item layui-anim layui-anim-up">
                <i class="layui-icon layui-timeline-axis">&#xe63f</i>
                <div class="layui-timeline-content layui-text">
                    <fieldset class="layui-elem-field" style="padding: 1em">
                        <legend class="layui-timeline-title" style="font-size: 1em">发表于n分钟前</legend>
                        <div class="layui-field-box">
                            <a href=""><h2 style="color: #01AAED;">文章1</h2></a><br>
                            <a href=""><h5 style="color: #c2c2c2;">元素的内边距在边框和内容区之间。控制该区域最简单的属性是 padding 属性。
CSS padding 属性定义元素边框与元素内容之间的空白区域。</h5></a>
                        </div>
                    </fieldset>
                </div>
            </li>
            <li class="layui-timeline-item layui-anim layui-anim-up">
                <i class="layui-icon layui-timeline-axis">&#xe63f</i>
                <div class="layui-timeline-content layui-text">
                    <fieldset class="layui-elem-field" style="padding: 1em;">
                        <legend class="layui-timeline-title" style="font-size: 1em;">发表于n分钟前</legend>
                        <div class="layui-field-box">
                            <a href=""><h2 style="color: #01AAED;">文章1</h2></a><br>
                            <a href=""><h5 style="color: #c2c2c2;">内容简介</h5></a>
                        </div>
                    </fieldset>
                </div>
            </li>
            <li class="layui-timeline-item layui-anim layui-anim-up">
                <i class="layui-icon layui-timeline-axis">&#xe63f</i>
                <div class="layui-timeline-content layui-text">
                    <fieldset class="layui-elem-field" style="padding: 1em;">
                        <legend class="layui-timeline-title" style="font-size: 1em;">发表于n分钟前</legend>
                        <div class="layui-field-box">
                            <a href=""><h2 style="color: #01AAED;">文章1</h2></a><br>
                            <a href=""><h5 style="color: #c2c2c2;">内容简介</h5></a>
                        </div>
                    </fieldset>
                </div>
            </li>
            <li class="layui-timeline-item layui-anim layui-anim-up">
                <i class="layui-icon layui-timeline-axis">&#xe63f</i>
                <div class="layui-timeline-content layui-text">
                    <fieldset class="layui-elem-field" style="padding: 1em;">
                        <legend class="layui-timeline-title" style="font-size: 1em;">发表于n分钟前</legend>
                        <div class="layui-field-box">
                            <a href=""><h2 style="color: #01AAED;">文章1</h2></a><br>
                            <a href=""><h5 style="color: #c2c2c2;">内容简介</h5></a>
                        </div>
                    </fieldset>
                </div>
            </li>
            <li class="layui-timeline-item layui-anim layui-anim-up">
                <i class="layui-icon layui-timeline-axis">&#xe63f</i>
                <div class="layui-timeline-content layui-text">
                    <fieldset class="layui-elem-field" style="padding: 1em;">
                        <legend class="layui-timeline-title" style="font-size: 1em;">发表于n分钟前</legend>
                        <div class="layui-field-box">
                            <a href=""><h2 style="color: #01AAED;">文章1</h2></a><br>
                            <a href=""><h5 style="color: #c2c2c2;">内容简介</h5></a>
                        </div>
                    </fieldset>
                </div>
            </li>
            <li class="layui-timeline-item layui-anim layui-anim-up">
                <i class="layui-icon layui-timeline-axis">&#xe63f</i>
                <div class="layui-timeline-content layui-text">
                    <fieldset class="layui-elem-field" style="padding: 1em;">
                        <legend class="layui-timeline-title" style="font-size: 1em;">发表于n分钟前</legend>
                        <div class="layui-field-box">
                            <a href=""><h2 style="color: #01AAED;">文章1</h2></a><br>
                            <a href=""><h5 style="color: #c2c2c2;">内容简介</h5></a>
                        </div>
                    </fieldset>
                </div>
            </li>
            <li class="layui-timeline-item layui-anim layui-anim-up">
                <i class="layui-icon layui-timeline-axis">&#xe63f</i>
                <div class="layui-timeline-content layui-text">
                    <fieldset class="layui-elem-field" style="padding: 1em;">
                        <legend class="layui-timeline-title" style="font-size: 1em;">发表于n分钟前</legend>
                        <div class="layui-field-box">
                            <a href=""><h2 style="color: #01AAED;">文章1</h2></a><br>
                            <a href=""><h5 style="color: #c2c2c2;">内容简介</h5></a>
                        </div>
                    </fieldset>
                </div>
            </li>
            <li class="layui-timeline-item layui-anim layui-anim-up">
                <i class="layui-icon layui-timeline-axis">&#xe63f</i>
                <div class="layui-timeline-content layui-text">
                    <fieldset class="layui-elem-field" style="padding: 1em;">
                        <legend class="layui-timeline-title" style="font-size: 1em;">发表于n分钟前</legend>
                        <div class="layui-field-box">
                            <a href=""><h2 style="color: #01AAED;">文章1</h2></a><br>
                            <a href=""><h5 style="color: #c2c2c2;">内容简介</h5></a>
                        </div>
                    </fieldset>
                </div>
            </li>
            <li class="layui-timeline-item layui-anim layui-anim-up">
                <i class="layui-icon layui-timeline-axis">&#xe63f</i>
                <div class="layui-timeline-content layui-text">
                    <h6 class="layui-timeline-title" style="color: #FFB800;">
                        <fieldset class="layui-elem-field layui-field-title">
                            <legend style="font-size: 1em;text-align: center">没有更多啦=w=</legend>
                        </fieldset>
                    </h6>
                </div>
            </li>
        </ul>
    </div>
    <div class="layui-col-xs10 layui-col-xs-offset1 layui-col-sm4 layui-col-sm-offset8 layui-col-md4
    layui-col-md-offset8 layui-col-lg-offset8 layui-col-lg4 layui-hide-xs" style="position: fixed;padding-right: 1em;margin-top: 7em">
        <fieldset class="layui-elem-field layui-field-title">
            <legend style="text-align: center">Icewhite</legend>
        </fieldset>
        <blockquote class="layui-elem-quote layui-quote-nm">
            <h4>2019年03月10日</h4>
        </blockquote>
    </div>
    <div class="layui-col-md12 layui-footer layui-col-xs12 layui-col-sm12 layui-col-lg12 layui-bg-black"
         style="text-align: center;padding: 2.7em;padding-bottom: 2em;" id="footer">
        <svg class="icon" aria-hidden="true"><use xlink:href="#icon-qq"></use></svg>
        <svg class="icon" aria-hidden="true"><use xlink:href="#icon-wechat"></use></svg>
        <svg class="icon" aria-hidden="true"><use xlink:href="#icon-gitee_white"></use></svg>
        <svg class="icon" aria-hidden="true"><use xlink:href="#icon-git"></use></svg>
        <h5>Powered by Icewhite Python Webapp.Copyright© 2019</h5>
        <h6>All rights reserved.</h6>
    </div>
</body>
<script>
    layui.use('element', function () {
        var element = layui.element;
    })
</script>
</html>